@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@font-face {
  font-family: "Fraunces-Black", serif;
  src: url("../fonts/Fraunces_9pt-Black.ttf");
}
@font-face {
  font-family: "Fraunces-Bold", serif;
  src: url("../fonts/Fraunces_9pt-Bold.ttf");
}
@font-face {
  font-family: "Barlow", sans-serif;
  src: url("../fonts/Barlow-SemiBold.ttf");
}
:root {
  font-size: 18px;
}

.load {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #2fa8dd;
  inset: unset;
  z-index: 99;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.load span {
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 2.5rem;
  animation: loadingAnimation 2s infinite ease-in-out;
}
.load.loaded {
  opacity: 0;
  pointer-events: none;
}

@keyframes loadingAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 25px;
  position: fixed;
  width: 100vw;
  align-items: center;
  transition: 0.4s;
  z-index: 9;
}
nav.scrolled {
  background-color: #2fa8dd;
}
nav .brand {
  width: 150px;
}
nav .navbar-menu {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar-menu a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-size: 0.9rem;
  color: hsl(0, 0%, 100%);
}
nav .navbar-menu .nav-btn {
  background-color: hsl(0, 0%, 100%);
  padding: 0.6rem 0.9rem;
  font-size: 0.7rem;
  border-radius: 20px;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces-Bold", "Fraunces", serif;
  transition: 0.3s;
}
nav .navbar-menu .nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: hsl(0, 0%, 100%);
}

header {
  background-image: url("../../images/desktop/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
header figure {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
}
header figure h1 {
  margin-top: 70px;
  color: hsl(0, 0%, 100%);
  font-size: 2.8rem;
}
header figure img {
  margin-top: 30px;
  max-width: 50px;
}

#main-section .row {
  width: 100%;
  display: flex;
}
#main-section .row:nth-child(1) .text a {
  text-align: center;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces-Bold", "Fraunces", serif;
  text-decoration: none;
  font-size: 0.9rem;
  position: relative;
  z-index: -1;
}
#main-section .row:nth-child(1) .text a:after {
  content: "";
  width: 100%;
  height: 50%;
  border-radius: 20px;
  background-color: #ffe761;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.2s;
}
#main-section .row:nth-child(1) .text a:hover:after {
  background-color: hsl(51, 100%, 49%);
}
#main-section .row:nth-child(2) .text a {
  position: relative;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces-Bold", "Fraunces", serif;
  text-decoration: none;
  font-size: 0.9rem;
}
#main-section .row:nth-child(2) .text a:after {
  content: "";
  width: 100%;
  height: 50%;
  border-radius: 20px;
  background-color: #ffd2cc;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.2s;
}
#main-section .row:nth-child(2) .text a:hover:after {
  background-color: hsl(7, 99%, 70%);
}
#main-section section {
  width: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  text-align: left;
}
#main-section section.text {
  padding: 25px;
}
#main-section section.text h1 {
  font-family: "Fraunces-Black", "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  margin-bottom: 10px;
  font-size: 1.8rem;
}
#main-section section.text p {
  font-family: "Barlow", sans-serif;
  color: hsl(213, 9%, 39%);
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 15px;
}
#main-section section img {
  width: 100%;
  object-position: center;
  object-fit: cover;
  overflow: hidden;
}
#main-section section figcaption {
  position: absolute;
  margin-top: 130px;
  text-align: center;
  width: 50%;
}
#main-section section figcaption h3 {
  margin-bottom: 10px;
  font-family: "Fraunces-Bold", "Fraunces", serif;
  font-size: 1.5rem;
}
#main-section section figcaption p {
  font-family: "Barlow", sans-serif;
  font-size: 0.8rem;
  margin: 0 auto;
  width: 60%;
}
#main-section section #caption_1 {
  color: hsl(167, 40%, 24%);
}
#main-section section #caption_2 {
  color: hsl(198, 62%, 26%);
}

#testimonial {
  padding: 70px 0;
}
#testimonial .title {
  text-align: center;
  color: hsl(210, 4%, 67%);
  font-family: "Fraunces-Black", "Fraunces", serif;
}
#testimonial .testimonial-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#testimonial .testimonial-wrapper .card {
  width: 30%;
  margin: 30px auto;
  min-height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
#testimonial .testimonial-wrapper .card .profile-image {
  width: 70px;
  border-radius: 50%;
  margin: 0 auto;
}
#testimonial .testimonial-wrapper .card .card-body {
  color: hsl(213, 9%, 39%);
  font-family: "Barlow", sans-serif;
  font-size: 0.95rem;
}
#testimonial .testimonial-wrapper .card .card-footer h5 {
  font-family: "Fraunces-Black", "Fraunces", serif;
}
#testimonial .testimonial-wrapper .card .card-footer small {
  color: hsl(210, 4%, 67%);
}

#gallery {
  display: flex;
  flex-wrap: wrap;
}
#gallery img {
  width: 25%;
}

footer {
  min-height: 40vh;
  background-color: hsl(168, 34%, 41%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
footer .footer-menu {
  display: flex;
  width: 20%;
  justify-content: space-between;
  margin: 50px auto;
}
footer .footer-menu a {
  color: hsl(167, 40%, 24%);
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  transition: 0.3s;
}
footer .footer-menu a:hover {
  color: hsl(0, 0%, 100%);
}
footer .footer-title {
  color: hsl(167, 40%, 24%);
  font-family: "Barlow", sans-serif;
}
footer .socials a {
  margin: 0 15px;
  color: hsl(167, 40%, 24%);
  font-size: 1.4em;
  transition: 0.3s;
}
footer .socials a:hover {
  fill: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}

.burger-menu {
  display: none;
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
}
.burger-menu .menu-bar {
  transition: 0.3s;
  border-radius: 6px;
  height: 3px;
  background-color: white;
  position: relative;
}
.burger-menu .menu-bar.active-menu:nth-child(1) {
  transform: rotate(45deg) translate(5px, 7px);
}
.burger-menu .menu-bar.active-menu:nth-child(2) {
  transform: scale(0);
}
.burger-menu .menu-bar.active-menu:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -7px);
}

@media screen and (max-width: 576px) {
  nav .navbar-menu {
    position: fixed;
    top: 70px !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 50px) !important;
    margin: 0 auto;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    background-color: hsl(0, 0%, 100%) !important;
    z-index: 999 !important;
    padding: 20px 10px;
    transition: all 0.5s;
  }
  nav .navbar-menu.active {
    top: 100px !important;
    pointer-events: inherit;
    opacity: inherit;
  }
  nav .navbar-menu a {
    color: hsl(212, 27%, 19%) !important;
    margin: 10px auto !important;
  }
  nav .navbar-menu a.nav-btn {
    background-color: hsl(51, 100%, 49%);
  }
  nav .navbar-menu a.nav-btn:hover {
    background-color: #ffe761;
  }
  nav .navbar-menu:after {
    content: "";
    width: 0;
    z-index: -1;
    height: 0;
    border-left: 45px solid transparent;
    border-bottom: 45px solid transparent;
    border-top: 45px solid hsl(0, 0%, 100%);
    transform: rotateX(180deg);
    position: absolute;
    top: -80px !important;
    right: 0;
  }
  .burger-menu {
    display: flex;
  }
  #main-section .row {
    flex-direction: column-reverse;
  }
  #main-section .row section {
    width: 100%;
  }
  #main-section .row section h1 {
    font-size: 2rem;
  }
  #main-section .row section.text {
    text-align: center;
    min-height: 300px;
  }
  #main-section .row section.text a {
    text-align: center;
    margin: 10px auto;
  }
  #main-section .row:nth-child(2),
  #main-section .row:nth-child(3) {
    flex-direction: column !important;
  }
  #main-section .row:nth-child(3) section figcaption {
    text-align: center;
    width: 100%;
  }
  #testimonial .testimonial-wrapper {
    flex-wrap: wrap;
    margin-top: 50px;
  }
  #testimonial .testimonial-wrapper .card {
    width: 90%;
    margin: 25px auto;
  }
  #testimonial .testimonial-wrapper .card .card-body {
    width: 80%;
    margin: 0 auto;
  }
  #gallery img {
    width: 50%;
  }
  footer .footer-menu {
    width: 75% !important;
  }
}
@media screen and (max-width: 755px) {
  nav .navbar-menu {
    width: 50%;
  }
  footer .footer-menu {
    width: 45%;
  }
}

/*# sourceMappingURL=style.css.map */
